/.vs/VisualMutator/v14/*.suo
bin/
/VisualMutator.Console/bin
**/obj
**/bin
packages
/opencoverTestCoverageReport.xml
nunitconsole
/TestResult.xml
/Tests/VisualMutator.Tests/VisualMutator.Tests.csproj.user
.sonarqube
/nunit3TestResult.xml
/nunit2TestResult.xml

\.vs/VisualMutator/v15/sqlite3/storage\.ide

\.vs/VisualMutator/v15/\.suo

\.vs/VisualMutator/v15/sqlite3/

\.vs/VisualMutator/v15/

\.axoCover/
