/.vs/VisualMutator/v14/*.suo
bin/
/VisualMutator.Console/bin
**/obj
**/bin
packages
/opencoverTestCoverageReport.xml
nunitconsole
/TestResult.xml
/Tests/VisualMutator.Tests/VisualMutator.Tests.csproj.user
.sonarqube
/nunit3TestResult.xml
/nunit2TestResult.xml
/.vs/VisualMutator/v15
/Backup
/UpgradeLog2.htm
/UpgradeLog.htm
